<div class="container">

    <h1 class="title"> Lyrical </h1>
    <div class="title-footer">search with feeling.</div>
    
    <div class="search-bar" ng-hide="loading">
        <input type="text"  placeholder="mood" ng-model = "$parent.mood" style="width: 250px" ng-if="searchType==='mood'">
        <span ng-if="searchType === 'song'">
            <input type="text" ng-model = "$parent.title" placeholder="song title" style="width: 125px"></input>
            <input type="text" ng-model = "$parent.artist" placeholder="artist" style="width: 125px"></input>
        </span>
        <button ng-click="search()" class="button">Search</button>
    </div>
    <div class = "search-type">
        <input type="radio" ng-model = "searchType" name = "mood" value = "mood">search by mood</input>
        <input type = "radio" ng-model = "searchType" name = "song" value = "song">search by song title and artist</input>
    </div>



    
</div>